@media (max-width: $md) {
	nav {
		background-color: $grey_800;
	}

	#go-to-top{
		z-index: 1000;
		position: fixed;
		right: 50px;
		bottom: 50px;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 50px;
		aspect-ratio: 1;
		border-radius: 5px;
		
		box-shadow: 1px 1px 3px $grey_800;
		text-decoration: none;
		color: $grey_900;
	}

	.mobile-hide {
		display: none !important;
	}

	.hero {
		.hero-content {
			width: 100%;
		}
	}
}
