$row: 23;
$col: 45;
$layers: 4;
$social_links: 4;

@use "sass:math";

@import "variables";
@import "mixins";
@import "carousal";
@import "general";
@import "media.pc";
@import "media.mobile";
@import "animations";
